* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Roboto";
}

.promo {
    height: 100%;
    background: url(../img/bg_photo/2-layers.jpg) center center/cover no-repeat;
    padding: 39px 0px 63px 0px;
}

.promo .promo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto Light";
    font-weight: 300;
    text-align: center;
    margin: 23px 13px 73px 13px;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo_img {
    margin-top: 39px;
}

.logo .logo_text {
    display: block;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 14px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 53px;
}

.container .tittle {
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.simple .tittle_big {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

h2.tittle {
    margin-top: 30px;
}

.promo_text span {
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 600;
}

button.btn {
    width: 313px;
    height: 72px;
    display: block;
    margin: 0 auto;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.promo .know_more {
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 73px;
}

.promo .arrow {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.wait {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.wait .wait_header,
.finish .finish_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.finish .finish_header {
    color: #fff;
}

.wait .wait_line,
.finish .finish_line {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.wait .wait_text {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 17px;
}

.wait .wait_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.wait .wait_wrapper .wait_item {
    width: 339px;
    text-align: center;
}

.wait .wait_wrapper .wait_item .wait_img {
    width: 100%;
}

.wait .wait_wrapper .wait_item .wait_discr {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 33px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-left: 391px;
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url(../img/bg_photo/Layer_3.jpg) center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_desrc {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

.bonus {
    min-height: 628px;
    padding: 86px 0 87px 0;
    background-color: #efefef;
}

.bonus .bonus_box {
    display: flex;
    margin: 0 auto;
}

.bonus .bonus_text {
    margin-top: 42px;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
}

.bonus .btn-2 {
    width: 313px;
    height: 72px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

}

.time {
    padding: 82px 0 64px 0;
}

.time .time_nb {
    display: flex;
    margin: 0 auto;
}

.time .time_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 37px;
}

.time .time_data {
    margin-top: 30px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.time .time_text {
    margin-top: 25px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

footer a {
    color: #888888;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}